html{
    color: #41b782;
}

@font-face{
    font-family: "XAYAX";
    src: url("../fonts/XAYAX.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

@font-face{
    font-family: "Pecita";
    src: url("../fonts/20180.otf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}